<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp5CB10017F97D0CA982B794A50BAED639" Guid="{4DA3D11F-D587-4922-AF09-2EC0A10FF95C}">
                <File Id="fil79A11544CDC828DA1170F90B38AEFB61" KeyPath="yes" Source="SourceDir\AmCharts.Windows.QuickCharts.dll" />
            </Component>
            <Component Id="cmpF574C6C12C7B8024846386F1399B0968" Guid="{83C4478E-1332-4C72-949D-80C6F0EDA4B5}">
                <File Id="filBCAA941FF0E3056F358F419E5201C702" KeyPath="yes" Source="SourceDir\BassNotesMasterUnitTests.dll" />
            </Component>
            <Component Id="cmp4B205B59223263DE2389B72E4EB3D90B" Guid="{0E42BFC3-5C51-4731-AABB-20350FA1A407}">
                <File Id="fil467B6211E2868155AB3DBBDB9DB800EC" KeyPath="yes" Source="SourceDir\BassTrainer.Core.dll" />
            </Component>
            <Component Id="cmp806A06289EE215226A6CB0F89F7A5625" Guid="{4ACBC013-53E5-4CBF-9A4E-35BB78E4BC40}">
                <File Id="filCA29917984CC3F9388060E06422E6B4D" KeyPath="yes" Source="SourceDir\BassTrainer.MainApp.exe" />
            </Component>
            <Component Id="cmpF072978801918EEACBB86923386C14AE" Guid="{E0208524-1C42-4848-82B2-7A83B1C60AB4}">
                <File Id="fil759ED47ED89C701B3CAE704B895F3CEC" KeyPath="yes" Source="SourceDir\BassTrainer.MainApp.exe.config" />
            </Component>
            <Component Id="cmpFD1F804AC86CF7A056A26D68BC529838" Guid="{933AA5EE-13E5-4EF5-BEBC-4CE6C25AC940}">
                <File Id="fil2CBA802BA7E1B407CC8A7DE3BC47E6E9" KeyPath="yes" Source="SourceDir\BassTrainer.MainApp.vshost.exe" />
            </Component>
            <Component Id="cmp7EA790329A2360D0698CDCEB3C460421" Guid="{72BF41A4-406B-4A83-876E-20786E4B112A}">
                <File Id="filBC17B313E3C2D6A3E7535C257589825E" KeyPath="yes" Source="SourceDir\BassTrainer.MainApp.vshost.exe.config" />
            </Component>
            <Component Id="cmp90A86B0F6224C9C85EE5D205E29C2B84" Guid="{2029518C-58F3-476A-AD63-BBB6F159FADE}">
                <File Id="filBAC376ADB59E4ED50F3729DBBE8FE819" KeyPath="yes" Source="SourceDir\BassTrainer.MainApp.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp5439EE490C073E4AB4E41EFC1FD6655F" Guid="{28660A47-F08A-4B6C-BFB6-AE41063413A4}">
                <File Id="fil45E34A1C0EE386C91AAD922F3097A9D4" KeyPath="yes" Source="SourceDir\BassTrainer.UI.WPF.dll" />
            </Component>
            <Component Id="cmp4B0930294AABC595FD930B337000CD61" Guid="{7D041A37-39C9-4B88-8EF9-42D8104FAD2C}">
                <File Id="fil35FDDE7EB5A3CF81B5569C8F483293F2" KeyPath="yes" Source="SourceDir\BassTuner.UI.WPF.dll" />
            </Component>
            <Component Id="cmp4563D958862CCEEF0BFEA12CCA035FE9" Guid="{3B796D70-563A-4D6C-963C-B02F11C6B0CA}">
                <File Id="filDDEC4FD9EEB2BF915BF3BA4D4E777104" KeyPath="yes" Source="SourceDir\DrumMachine.dll" />
            </Component>
            <Component Id="cmpE5B86422BBD2E67D0BD13299EF65E59A" Guid="{D5EB1A54-95E2-4500-A681-5AFFFB4B7D15}">
                <File Id="filBEB9E2D291874AE740F2A7DB21D5BAFA" KeyPath="yes" Source="SourceDir\DrumMachine.UI.WPF.dll" />
            </Component>
            <Component Id="cmp23D6B184EF444095E40D8B966A1CF55D" Guid="{319492E0-C01C-4DBA-BD24-4E13207A1330}">
                <File Id="filCEA21456803BBF3292FEBDD7735D9DB0" KeyPath="yes" Source="SourceDir\HelpSystemResources.dll" />
            </Component>
            <Component Id="cmpEBCF0D0A4FC6E01EB62B28713DC91F16" Guid="{55C2E655-570A-415F-9815-615026A8FE11}">
                <File Id="fil0885A673E61C20CCCC217C83F1E1A4BD" KeyPath="yes" Source="SourceDir\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpDF4534DFEBA135EE7D0EC9ECAF11BB33" Guid="{4C168475-1247-44C4-AB35-29EFDFF189EF}">
                <File Id="filB58D273E66D6161A31365F9261AFBD79" KeyPath="yes" Source="SourceDir\Metronome.dll" />
            </Component>
            <Component Id="cmp6C2F74078F4565CDA04F5C92D1FD319E" Guid="{8E39F35E-646B-42C8-9630-A6F119670EA1}">
                <File Id="fil29F64EC086A2AF25A3210E83006458DA" KeyPath="yes" Source="SourceDir\Metronome.UI.WPF.dll" />
            </Component>
            <Component Id="cmp5BBD5225B3ECE6771371A8262942E2DB" Guid="{4ED761CB-FA13-469A-908C-F8967DD371C3}">
                <File Id="fil87826C1D87F39757B6344136F91B6E73" KeyPath="yes" Source="SourceDir\NAudio.dll" />
            </Component>
            <Component Id="cmp26E687D2D0EDAB5A2A2EE402B81678E4" Guid="{71C7587E-A02F-4BA1-817A-31EFC24A6CAA}">
                <File Id="fil5964A18868167B6BA8D76D48697EE10E" KeyPath="yes" Source="SourceDir\nunit.framework.dll" />
            </Component>
            <Component Id="cmp249B7D8A052D191F2BDDACD295ACDAFB" Guid="{6E6FBE50-6F23-4CCE-BEE1-A14A1A059CDC}">
                <File Id="fil82C05DAC9BF8856CBEA8CC46E1C1C897" KeyPath="yes" Source="SourceDir\save.xml" />
            </Component>
            <Component Id="cmpD686229BC3DA1B0EE1F51EB8D325234D" Guid="{CC606DDD-BD21-4096-9B5F-88E0C9F5EB96}">
                <File Id="fil4FFD3131A44D3EA9C49C2F3C6EC8C391" KeyPath="yes" Source="SourceDir\SimpleHelpSystem.dll" />
            </Component>
            <Component Id="cmp34BAD36396CA9F52F30B72DBDDD18149" Guid="{FA1B62AE-6BD5-4DD2-B857-EED699D58F73}">
                <File Id="fil7FAE03D2B571C37AC759378FA7A052DE" KeyPath="yes" Source="SourceDir\SimpleHelpSystem.UI.WPF.dll" />
            </Component>
            <Component Id="cmp6420500FF1ABC06969E348ACB0B55D77" Guid="{396B3A5D-7A28-4423-8694-9ED358441FFF}">
                <File Id="filA545F6C5C51315B4671A7FE6553F80CE" KeyPath="yes" Source="SourceDir\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp720562E7042934E6805DBC5706DB988D" Guid="{C146E7C5-8EAF-46F3-863C-F9B91B140239}">
                <File Id="filA5304129D2370ABE2B091994AE689EE2" KeyPath="yes" Source="SourceDir\WavPlayer.dll" />
            </Component>
            <Component Id="cmp0430BE39D67FA76DC4944C1377AA3E64" Guid="{FFD8AD63-1D40-4C61-957E-985421BBA32B}">
                <File Id="fil7A272E553B76729003A4CED5223F0DEB" KeyPath="yes" Source="SourceDir\WpfExtensions.dll" />
            </Component>
            <Directory Id="dirF7618158CE8FEC39DAC1DD18D359DD11" Name="de">
                <Component Id="cmpC818AA58898C1918C6CEC1A3D7259DC6" Guid="{1E48FEBD-BA60-43C8-B89F-2F4CF702EB7F}">
                    <File Id="fil58584193ABDE2610880AE18F442659FA" KeyPath="yes" Source="SourceDir\de\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9901A63403F617629D713CCDD5F76555" Name="en">
                <Component Id="cmp74ECD645D51366788BE4C927018786EF" Guid="{2C6BF7AA-2F15-4B1C-9B7B-3C2948DC70BC}">
                    <File Id="fil08F7F524BE285D997DB5BC5DEAEAE82E" KeyPath="yes" Source="SourceDir\en\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir63A634F9A8BE5EC5B8B7424D6A18E4C4" Name="es">
                <Component Id="cmp9F7B14463AE1AB942ED83DC374A7F052" Guid="{8AB238C0-2717-4EDA-BC56-16F2434AE838}">
                    <File Id="filA44307B73B0874F5648488CEEC6AD5DB" KeyPath="yes" Source="SourceDir\es\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir1424604976AE3158AC7908CE5FE4118E" Name="fr">
                <Component Id="cmpAE8F265E06B7B311BA09E444833B59B7" Guid="{7F27A05A-CBA2-4E15-8BF5-E0F24E51AEA5}">
                    <File Id="fil6D4BDC0B69882FB9B370F0BC70362E56" KeyPath="yes" Source="SourceDir\fr\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirFCEE6B4345A27586A07C0608D2A46020" Name="it">
                <Component Id="cmpA90B42440CCB0E677927B96F0A0B1082" Guid="{410935E1-08EB-4AF8-9DA0-B402C3B07046}">
                    <File Id="fil8D851F839EBD028A49BF550BD6B1B377" KeyPath="yes" Source="SourceDir\it\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir4BAF3ACC1308889E29E86346A3C9852C" Name="ja">
                <Component Id="cmpEDA216DA3A5B8885E3390522FC0BF03B" Guid="{585EC890-664A-499D-B523-E9F571472356}">
                    <File Id="fil166F06427CB5521C1A5024FE28D9847E" KeyPath="yes" Source="SourceDir\ja\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir3F45E3C3D1C6EF4E90C4421900E566D7" Name="ko">
                <Component Id="cmp48FA0C77FEA5A38E70E72279C618C798" Guid="{1519A341-FF66-4EA6-B410-E32CEC95FB8F}">
                    <File Id="fil490F0A70453C36335B51EAC27C15407B" KeyPath="yes" Source="SourceDir\ko\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir5A6163BDEE95B3E2028E25F6E281CDF2" Name="Resources">
                <Directory Id="dir7F746FF41AE29E4948D49732FB5D3D4C" Name="DrumMachine">
                    <Directory Id="dir4EC53A97CFB378A929C8B5E51C0EADED" Name="Audio">
                        <Directory Id="dir09E0E67CF3A41711043DDE794DCA0A89" Name="Samples">
                            <Component Id="cmp090DC16619221DAD984A053D074E88E2" Guid="{F6D61637-B638-435D-862F-A12F9E6F4C20}">
                                <File Id="fil5A1D03CFDF7A156E869BA113ED41524A" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\closed-hat-trimmed.wav" />
                            </Component>
                            <Component Id="cmp7020B8607FFE2B3E0A225657FDDAACF9" Guid="{A712EA4B-431A-43CE-8071-54D09F7A09E1}">
                                <File Id="fil494ABA2467B6773513B41943CD8E4C82" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\crash-trimmed.wav" />
                            </Component>
                            <Component Id="cmpF975B4A70C6115101EED1B0E2AE92E1F" Guid="{3B519AEE-8570-43EF-AB4C-AFEF09A38402}">
                                <File Id="fil58D119583DAB8D60E0E8A67EB1AA76D0" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\Hi-Mid Tom.wav" />
                            </Component>
                            <Component Id="cmpDCF4B4E913890736DE221A81D27A54E8" Guid="{61BEBD65-8DBC-4D8C-B725-59CBDE787C54}">
                                <File Id="filFC29751FEBA092EEBDF5570235CE7BDB" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\High Floor Tom.wav" />
                            </Component>
                            <Component Id="cmp42C9815F2F62FBE2CFB12B0CEBF881BA" Guid="{388E407F-DDA6-4BF8-A1AE-2984A7A38E22}">
                                <File Id="fil00E70BEEE2D0F279A8F30799994142B6" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\High Tom.wav" />
                            </Component>
                            <Component Id="cmpEFB8A6A78D7C76E1E2773C20F897DD86" Guid="{591BA1E8-E71F-42BC-A917-377172039127}">
                                <File Id="filF82C65D4A7527C4967A39E19C6B65DCE" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\kick-trimmed.wav" />
                            </Component>
                            <Component Id="cmp73090F7ACBF46E8A347917485CC3143C" Guid="{030B8CDD-A5E8-4488-B46F-072AE7E7BFA8}">
                                <File Id="fil1F4B8B8038CBF37615B104BC5BAD46BD" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\Low Floor Tom.wav" />
                            </Component>
                            <Component Id="cmpA2906CE80A4C61C1FBA4E5132D352D19" Guid="{9D1C5C11-B892-4C01-AE2F-2EA5BA7879EF}">
                                <File Id="fil822147DC024FB5395ED84A9223203D16" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\Low Tom.wav" />
                            </Component>
                            <Component Id="cmp415850BA27C35839BC49BFC8BD469794" Guid="{5B728971-3E59-4A79-BF59-C35EBC6E38A4}">
                                <File Id="fil6C68B76370AEDA744F690384A05A37DE" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\Low-Mid Tom.wav" />
                            </Component>
                            <Component Id="cmpA1277D784F72289212D6AF13E7FCD016" Guid="{01D847B0-4016-4F59-9F0E-F296905FF191}">
                                <File Id="fil2B1B014A038C9469F59D2A236A3AE577" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\open-hat-trimmed.wav" />
                            </Component>
                            <Component Id="cmpF37D6E2E4BDFF7BF331F20DE4C69D973" Guid="{E21425D3-2A34-4F5B-8C2D-5F40D3AC5279}">
                                <File Id="fil713FF62BCAD476A1BA5F2AF98198F4CA" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Audio\Samples\snare-trimmed.wav" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dir922A2CA1917AC1D5AEC0DDD0D31FE615" Name="Patterns">
                        <Component Id="cmpEF5E6ABF1D8CDA91DD2225DC2C5E4D21" Guid="{9B05F5DA-57B7-43B5-BD8B-0E66A609C897}">
                            <File Id="fil7C0B77CFB6A889D547005AC776DF3D88" KeyPath="yes" Source="SourceDir\Resources\DrumMachine\Patterns\SamplePattern.txt" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir18AC64512DF2E64FCCA4FD197994A8B7" Name="Images">
                    <Component Id="cmp6498B3BD1806F4EB4B4E9EFF595AAF05" Guid="{C102DD3C-E0BC-4DF1-9284-23FD5227D674}">
                        <File Id="filECEF1ECBD70E04860CBC4D70A42B8E63" KeyPath="yes" Source="SourceDir\Resources\Images\bassClef.png" />
                    </Component>
                    <Component Id="cmpDF964C7A7E5CD2E0B2372E129B6B602A" Guid="{C790A5EB-319E-447B-86AD-783EF6AF9EBF}">
                        <File Id="filE485780C32FF97AA0A91F0C33327ADC2" KeyPath="yes" Source="SourceDir\Resources\Images\error.png" />
                    </Component>
                    <Component Id="cmpA34A58DDCEC470E4D0429355CFB7EA5F" Guid="{99E0E8BD-F8F0-484F-9E41-5431ABE200E5}">
                        <File Id="filB8A6EDDACFDDAD4EC52CFB3ED1E83511" KeyPath="yes" Source="SourceDir\Resources\Images\flat.png" />
                    </Component>
                    <Component Id="cmp52C35A5630C15B96BF33A2EC37A9E9F7" Guid="{94F76EB8-BC3D-4A50-8591-25DACBF66D2A}">
                        <File Id="filEBF6FF8815D3DB365B4D07BA5F4DFAD2" KeyPath="yes" Source="SourceDir\Resources\Images\fretboard.jpg" />
                    </Component>
                    <Component Id="cmp844E507EC4BC073D0B8F10330F7948C8" Guid="{9E79B8D1-971A-44B5-B2CD-76CA7A96BCF3}">
                        <File Id="filD22F99C948733843CD843D3EA22B8B23" KeyPath="yes" Source="SourceDir\Resources\Images\FretboardBassWNutFLAT.gif" />
                    </Component>
                    <Component Id="cmpCBCF8F62E867D025304D1D2DF1ED1C92" Guid="{BD5B0FC7-F4D6-4C75-B370-7DA747F60768}">
                        <File Id="fil29E18AA3F2248D701F1C237ED24A5DA1" KeyPath="yes" Source="SourceDir\Resources\Images\quarterNote.png" />
                    </Component>
                    <Component Id="cmpB97E82347DDA4E5F9F2C06E74AEDDDDF" Guid="{B809DDAC-5117-4999-AC3E-E2FB5022371D}">
                        <File Id="fil2CBEBDA0B2BA0508AD7B33A1E6335294" KeyPath="yes" Source="SourceDir\Resources\Images\quarterNoteWithStemDownward.png" />
                    </Component>
                    <Component Id="cmp5BBBABD506A06726C8684A7C84FF6835" Guid="{A7225A90-68F7-4688-B695-60E7DA73B6C4}">
                        <File Id="filE43D701F9A3DADF18199179458D94400" KeyPath="yes" Source="SourceDir\Resources\Images\sharp.png" />
                    </Component>
                    <Component Id="cmp929C82E0BBFDDCB55048C50D4CAFFC5B" Guid="{6553550B-230F-45AB-921A-90BFE565A819}">
                        <File Id="filBECB10CB9CCE08A85635526E2BB9CA77" KeyPath="yes" Source="SourceDir\Resources\Images\wrongFlat.png" />
                    </Component>
                    <Component Id="cmp98334C564585073EDC8D9B6F8D51446E" Guid="{3E16FF0A-2992-4AB6-8328-EE8999C1BD0D}">
                        <File Id="fil6CFC40D2A4C69819FC8602B7E0340E34" KeyPath="yes" Source="SourceDir\Resources\Images\WrongQuarterNote.png" />
                    </Component>
                    <Component Id="cmp1F79065E795ABD81B9EC518F2B24B75B" Guid="{B1F70311-AB52-4F10-8752-B951DEB516DE}">
                        <File Id="fil8C829FA95652655A89051D220B6D4DAD" KeyPath="yes" Source="SourceDir\Resources\Images\WrongQuarterNoteWithStemDownward.png" />
                    </Component>
                    <Component Id="cmp47AE2E6349C1F50753776B63F31E5FB2" Guid="{DBCF84E2-727C-4197-A5D5-6CB028503C5A}">
                        <File Id="fil0D4D9EA8840B23D41FF816F84640E7D9" KeyPath="yes" Source="SourceDir\Resources\Images\wrongSharp.png" />
                    </Component>
                </Directory>
                <Directory Id="dir65EA3AB818E5274B8BBBB5164096915A" Name="Metronome">
                    <Directory Id="dir8D23F8A5D226DCD793CFB90559C5FECE" Name="AudioSamples">
                        <Directory Id="dirAB2765DC4947C3D5D7BF8472BA3307BF" Name="DrumStick">
                            <Component Id="cmpFCAC5935980029C6896A0BE3359C59A8" Guid="{4091CE77-D8B7-4957-8A63-D07586E868B1}">
                                <File Id="fil84247BC64AEC182308BF529ACF5725AC" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\DrumStick\hi.wav" />
                            </Component>
                            <Component Id="cmpEABAC5C489FFDD6CB9F22215AAA1F67C" Guid="{8FDC3BC1-F1D0-4D37-9D8B-A5CAB3878962}">
                                <File Id="fil1CA3BD6A01B3D51112FD977027F0D406" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\DrumStick\low.wav" />
                            </Component>
                        </Directory>
                        <Directory Id="dir3379C00A360DECF7307467F1CBD7E317" Name="Percussion">
                            <Component Id="cmp7A4AECBADC2EA3699545C18E06C5B2EF" Guid="{93D2D272-20A0-4523-BFA4-35E4A07FA623}">
                                <File Id="fil48120ED779F2B52C8FB27D318ABC1CCC" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\Percussion\hi.wav" />
                            </Component>
                            <Component Id="cmp5F36ABEF04FA8DE11D3E3AE606EB1537" Guid="{00E568B9-7CA8-4DBC-A8E5-509FEC915A05}">
                                <File Id="fil85AABF1800F014B86425B20D178BE578" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\Percussion\low.wav" />
                            </Component>
                        </Directory>
                        <Directory Id="dir7E6046819E188C539DB26450797B4BEE" Name="RealMetronome1">
                            <Component Id="cmp79CDCAA433E3DF5E71D25266282116FC" Guid="{C2002664-6858-475B-A480-4BFA8AC8C1F7}">
                                <File Id="fil4D3F771CAE8E3FA3EBD352FBD7453BE0" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\RealMetronome1\hi.wav" />
                            </Component>
                            <Component Id="cmp6180F18B64845F11053D0411238318B7" Guid="{928077AA-8E27-444E-BE89-4E65FBEF6546}">
                                <File Id="fil464AEB4E7F1713CAC6B3C58586177FB4" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\RealMetronome1\low.wav" />
                            </Component>
                        </Directory>
                        <Directory Id="dir2089A5577C871650A0CA115D033C7A42" Name="RealMetronome2">
                            <Component Id="cmp7483920CEB788C08F80913B3FFEBED1D" Guid="{AB0C24A9-BB9E-4142-94FF-EAFD9DA2A2B7}">
                                <File Id="fil6E22AE0CCC3792504373EF7DB83198D5" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\RealMetronome2\hi.wav" />
                            </Component>
                            <Component Id="cmp2242282B7D71DB9C9FB9B5D41B028190" Guid="{B6D0403A-CFFA-4704-A064-20C3C23A976C}">
                                <File Id="filF942463FEC507AD1349B7B5AB1859461" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\RealMetronome2\low.wav" />
                            </Component>
                        </Directory>
                        <Directory Id="dirDF14184356A6086E5EE4156DFC3E9FDB" Name="Ring">
                            <Component Id="cmpA1B81362A7F2516335441718652202C0" Guid="{90F602D3-98B5-4FAE-9983-66139B25F896}">
                                <File Id="fil0A44802CE231E8E8D685D546BF646869" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\Ring\hi.wav" />
                            </Component>
                            <Component Id="cmp97F0101B1392D95A5001670A9CC22611" Guid="{E612325A-E946-42DB-A53D-3EFA59B889D6}">
                                <File Id="fil1372F247088E81CFE18C124B2D769C9A" KeyPath="yes" Source="SourceDir\Resources\Metronome\AudioSamples\Ring\low.wav" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirE8EA3EB6BF57C13633B72C64FE60799D" Name="Sounds">
                    <Component Id="cmp95930D83EFE29DCE6B117189D8BBF9A0" Guid="{F216BC70-E97C-48A8-937C-FB9DEB8B7822}">
                        <File Id="fil74867FCBF7A9A737344C20DC7B92411F" KeyPath="yes" Source="SourceDir\Resources\Sounds\A#1.wav" />
                    </Component>
                    <Component Id="cmp0DB0BA0AFC7D9AAA320B9F280651D8CF" Guid="{CCA3E453-FC28-4583-851C-584BAF30A2D1}">
                        <File Id="filB73359F75A83F159B5344F353EB1A5BF" KeyPath="yes" Source="SourceDir\Resources\Sounds\A#2.wav" />
                    </Component>
                    <Component Id="cmp1AA211DF884A23679E47F5A55051CA1E" Guid="{2807AACB-F93B-410C-80B4-9775BED2D568}">
                        <File Id="fil6196D712AC6539E8F9CD5D76620D5404" KeyPath="yes" Source="SourceDir\Resources\Sounds\A1.wav" />
                    </Component>
                    <Component Id="cmp8B22349C84A955B6C131754FBA4BB200" Guid="{40FBCD97-D67C-459F-9BF7-1ADB9416380E}">
                        <File Id="filD54A36F36E46BDF7E756E72F7111A437" KeyPath="yes" Source="SourceDir\Resources\Sounds\A2.wav" />
                    </Component>
                    <Component Id="cmp6F0A5C430E0B010A9124A906ACB66887" Guid="{E9C6A783-64F9-494E-99AF-2FCED34DC524}">
                        <File Id="fil19B78807FBE9EE70D43213881C45B071" KeyPath="yes" Source="SourceDir\Resources\Sounds\B1.wav" />
                    </Component>
                    <Component Id="cmp05DEE38822C47EC89AE9C598DE5DB9C1" Guid="{1A600FD0-FE2B-4B51-AB40-8208C0D899E5}">
                        <File Id="fil8C8E822824D560414ACB777AF192112A" KeyPath="yes" Source="SourceDir\Resources\Sounds\B2.wav" />
                    </Component>
                    <Component Id="cmp2F55FFE7DE97788EE919F7462E97972F" Guid="{73FE0B93-4C1D-472E-BA8E-BD1574386E46}">
                        <File Id="fil3D9659C6F30FE0CDBD5E3EFF06C27B73" KeyPath="yes" Source="SourceDir\Resources\Sounds\C#2.wav" />
                    </Component>
                    <Component Id="cmpADC601D3A71A68A2F513D419AE2F0499" Guid="{4EC51838-2E94-417C-BDD9-C6C3B3BB2FE4}">
                        <File Id="fil0D9875793A04522ACABA3B2ACF39484F" KeyPath="yes" Source="SourceDir\Resources\Sounds\C#3.wav" />
                    </Component>
                    <Component Id="cmp15C01692E317E2894D8116B18DAF29CB" Guid="{3C6DC39E-0907-4CD6-A9CD-9576518DBB8F}">
                        <File Id="filC2DC7D099D6214E3E2B019F805B88DFC" KeyPath="yes" Source="SourceDir\Resources\Sounds\C2.wav" />
                    </Component>
                    <Component Id="cmpEE9812B8F9D75519D1E93AFF90BA82B5" Guid="{C43C1E4F-C545-415A-9D71-82B16BDCCE4C}">
                        <File Id="filE61BB2D97D2A0A667D0B4CF6DC2F4487" KeyPath="yes" Source="SourceDir\Resources\Sounds\C3.wav" />
                    </Component>
                    <Component Id="cmpF749C42CDBFA986127B81A68C19B8257" Guid="{B708EF3E-FF32-471B-BEEC-C7FFF0A78957}">
                        <File Id="fil4F1905271B9D6CF6A58CB2C4E4B5E446" KeyPath="yes" Source="SourceDir\Resources\Sounds\D#2.wav" />
                    </Component>
                    <Component Id="cmpAD5317112B21F143DB7679A652ABE7AC" Guid="{B980C288-6606-48EE-9413-00B005B651AE}">
                        <File Id="filBD1807DFA091261F07BEDF90D2C35CF5" KeyPath="yes" Source="SourceDir\Resources\Sounds\D#3.wav" />
                    </Component>
                    <Component Id="cmp463AA684D1FCF9134837923A02451CB7" Guid="{FF6AEA7B-322D-48E3-BAFD-F309D77BFA9C}">
                        <File Id="filD19BE4A6F9E5FE91A6B77EDD042A927E" KeyPath="yes" Source="SourceDir\Resources\Sounds\D2.wav" />
                    </Component>
                    <Component Id="cmp65FD80BADF54207BE367FE63C93AB124" Guid="{602B0684-9EAA-47AE-9456-D7DE59878C5D}">
                        <File Id="fil41D8745DA1261D0296709011EB8C3CA0" KeyPath="yes" Source="SourceDir\Resources\Sounds\D3.wav" />
                    </Component>
                    <Component Id="cmpAC721B6D5639ABCEAA3EFAF9BF3FB55A" Guid="{DEEF7B86-B7B3-44BB-9D4A-30E1EA2F48E0}">
                        <File Id="filC3B1B66B5CA4A5E0D83BE961E914A4B0" KeyPath="yes" Source="SourceDir\Resources\Sounds\E1.wav" />
                    </Component>
                    <Component Id="cmp50BCC5675471F4B2FC4FD5BA2074B22C" Guid="{E4C2AB00-760E-43FD-9BD3-A1E4AA3ACB7E}">
                        <File Id="fil6D885EDFC4C87E39ABDE1BB572121198" KeyPath="yes" Source="SourceDir\Resources\Sounds\E2.wav" />
                    </Component>
                    <Component Id="cmp06A6AFE29E6C4FD6A838D1322F9BB676" Guid="{1B7BCEED-AA52-450B-BC8D-335F7E17AAFD}">
                        <File Id="filA6A034A309979AC787A29D6582EAC96E" KeyPath="yes" Source="SourceDir\Resources\Sounds\E3.wav" />
                    </Component>
                    <Component Id="cmp996E01A04BDE94A4AF0AB071C36F2943" Guid="{2FB01074-376A-44D6-9679-1A9D5BDE8E1F}">
                        <File Id="fil066AD1ACC5251E93F67FDE871E2E04C2" KeyPath="yes" Source="SourceDir\Resources\Sounds\F#1.wav" />
                    </Component>
                    <Component Id="cmpAF4DD0B400F6A34CBC2870E3060EDBC0" Guid="{5AFEBDD8-8872-465D-BC10-17DD58B1F1A9}">
                        <File Id="filBF27A9462E869F1A03944FFCE089C2AF" KeyPath="yes" Source="SourceDir\Resources\Sounds\F#2.wav" />
                    </Component>
                    <Component Id="cmp59337F4759F49E31885BDFBA63719519" Guid="{61A6C8E4-91AF-45BF-9E71-30A0157696F5}">
                        <File Id="fil5B92743E29EDD8A9E4840C5D8514866A" KeyPath="yes" Source="SourceDir\Resources\Sounds\F#3.wav" />
                    </Component>
                    <Component Id="cmp0AEF9894E2EC0010F7F891B3C2FF2959" Guid="{619832A2-C299-49B1-91A5-E8AAE91B166C}">
                        <File Id="filED5DFDAA7E14F479D71A42C6CB3F9C25" KeyPath="yes" Source="SourceDir\Resources\Sounds\F1.wav" />
                    </Component>
                    <Component Id="cmpDE3B10F6D9CD171F81DBDB8AA9EE49F1" Guid="{D44C19B5-2659-4EBF-BBA0-83684C5C8C83}">
                        <File Id="fil7B887DC2281133DB98300F62B0134415" KeyPath="yes" Source="SourceDir\Resources\Sounds\F2.wav" />
                    </Component>
                    <Component Id="cmpCE7BEC35BDABF6156D1C09C64A041ACA" Guid="{BA1C803C-8D81-4784-83A6-85EB7AAC0AB3}">
                        <File Id="filD808C215EC0375462DC6A44B43ADA888" KeyPath="yes" Source="SourceDir\Resources\Sounds\F3.wav" />
                    </Component>
                    <Component Id="cmp2D94D18DAB32EDAE431EF6DAAAE25BA5" Guid="{613B05DB-CB2C-4F39-A584-1DCFB3E29EA3}">
                        <File Id="fil5E0100078CCB0A32A8E471F492B064A8" KeyPath="yes" Source="SourceDir\Resources\Sounds\G#1.wav" />
                    </Component>
                    <Component Id="cmpDDC162B5797F9F524A351ABBE4AB131B" Guid="{D2640FF5-5F00-4400-B376-775083CDAD08}">
                        <File Id="fil123E27C1AE3A9AE7FC0A811F4A02E9E8" KeyPath="yes" Source="SourceDir\Resources\Sounds\G#2.wav" />
                    </Component>
                    <Component Id="cmp7A4397CF70B8A74EE223179D886234AD" Guid="{1ADC1BB1-5733-4BB4-86B7-D9B7BC4AE602}">
                        <File Id="fil5221551734D416447CC2C3A955C0474E" KeyPath="yes" Source="SourceDir\Resources\Sounds\G1.wav" />
                    </Component>
                    <Component Id="cmp55B23174FCB40E1170DBF5E985C5727B" Guid="{8731D2C1-8DC9-42FC-B418-368B59807F55}">
                        <File Id="fil6986C3E99E5FE1473A9E2F56740AEA77" KeyPath="yes" Source="SourceDir\Resources\Sounds\G2.wav" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir0DF44C6AAA034D1DA7FB5C126F730566" Name="ru">
                <Component Id="cmp20AEE4316235BBBBF4375F6CB7F99436" Guid="{A1856799-6989-4E4C-8953-84E3C8814DE9}">
                    <File Id="fil415FE918C5919F0A899821C6CFBC6737" KeyPath="yes" Source="SourceDir\ru\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir827E768E8FAD19EE7610193A7741CC10" Name="zh-Hans">
                <Component Id="cmp4A47D8C94FF54E69DAFEF5D6856E5A49" Guid="{04173FD5-3EAA-405D-8E03-EB44B473D8E7}">
                    <File Id="filFA6D826059DD9522CE8DF3B4D8CA39FA" KeyPath="yes" Source="SourceDir\zh-Hans\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir60793078BF73FA4CCBF305630D99D730" Name="zh-Hant">
                <Component Id="cmpBAF73E714FD4FBBF32ADE412B12AC057" Guid="{E4511F6F-C395-49B8-89A3-163B47C95ED7}">
                    <File Id="fil3BD84D5400094407052B27167EA0D94A" KeyPath="yes" Source="SourceDir\zh-Hant\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>