<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  -->
  <configSections>
    <section name="settings" type="BassTrainer.UI.WPF.SettingsManager.ConfigurationSections.BassNotesMasterOptionSection,BassTrainer.UI.WPF"
               />
  </configSections>

  <settings>
    <font name="Calibri" size="12" />
    <fretboardVisual correctRectanglePreset="1" wrongRectanglePreset="1" showVisualFor="1000" />
    <player muted="false" volume="30" speedRatio="1"/>
    <others themeName="GenericTheme" noOfTries="3" showNotes="Mixed" excerciseTimeout="10000"/>
  </settings>
</configuration>
